.gallery {
    padding-top: 0;
}

.gallery__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
    text-align: center;
}

.gallery__list {
    display: flex;
}

.gallery__item {
    position: relative;
    display: block;
    margin-right: 30px;


.gallery__item:hover .gallery__text {
    opacity: 1
}

.gallery__item:not(:last-child) {
    margin-right: 30px;
}

.gallery__item:last-child {
    margin-right: 0;
}
}

.gallery__img {
    display: block;
    max-width: 100%;
    height: auto;
}

.gallery__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0, 03em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    background: rgba(47, 48, 58, 0.8);
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    padding-top: 27px;
    
}